:root {

--body-bg:#fbfbfb;
--main-menu-bg:#fbfbfb;
--main-menu-border-bg:transparent;
--main-menu-border-bg:transparent;

--main-menu-font-color:#484848;
--main-menu-font-highlight-color:#ff1ff2;
--main-menu-dropdown-bg:#FFF;
--main-menu-dropdown-highlight-bg:#ff1ff2;
--main-menu-dropdown-font-color:#6a747b;
--main-menu-dropdown-font-highlight-color:#fff;

--main-menu-btn-bg:#ffc3fc;
--main-menu-btn-font-color:#ff1ff2;
--main-menu-btn-highlight-bg:#ff1ff2;
--main-menu-btn-font-highlight-color:#fff;

--main-menu-sticky-bg:#fdfdfd;
--main-menu-sticky-font-color:#ff1ff2;

--banner-normal-section-bg: #fbfbfb;
--banner-absolute-section-height: 450px;

--site-headings-color:#434a54;
--site-page-headings-color:#ff1ff2;
--site-font-color:#60697b;
--site-box-bg:#f5f5f5;
--site-box-bg-2:#fff;
--site-box-border-color:#e7e7e7;
--site-breadcrumbs-bg:#f3f3f3;
--site-footer-bg:#f5f5f5;

--site-icons-color:#ff1ff2;
--site-btn-bg:#ffc3fc;
--site-btn-highlight-bg:#ff1ff2;
--site-btn-font-color:#ff1ff2;
--site-btn-font-highlight-color:#FFFFFF;
--site-btn-font-border-color:#f1f1f1;

--mobile-menu-bg:#ffffff;
--mobile-menu-sidebar-bg:#727272;
--mobile-menu-font-color:#FFFFFF;
--mobile-menu-btn-bg:#ffc3fc;
--mobile-menu-btn-font-color:#ff1ff2;


}