:root {

--body-bg:#18191a;
--main-menu-bg:#18191a;
--main-menu-border-bg:transparent;
--main-menu-border-bg:transparent;

--main-menu-font-color:#FFF;
--main-menu-font-highlight-color:#286EFB;
--main-menu-dropdown-bg:#393a3a;
--main-menu-dropdown-highlight-bg:#286EFB;
--main-menu-dropdown-font-color:#ededed;
--main-menu-dropdown-font-highlight-color:#ededed;

--main-menu-btn-bg:#505050;
--main-menu-btn-font-color:#ededed;
--main-menu-btn-highlight-bg:#ededed;
--main-menu-btn-font-highlight-color:#000;

--main-menu-sticky-bg:#393a3a;
--main-menu-sticky-font-color:#ededed;

--main-banner-bg:#393a3a;

--site-headings-color:#ededed;
--site-page-headings-color:#ededed;
--site-font-color:#ededed;
--site-box-bg:#393a3a;
--site-box-bg-2:#393a3a;
--site-box-border-color:#444546;
--site-breadcrumbs-bg:#393a3a;
--site-footer-bg:#393a3a;

--site-icons-color:#ededed;
--site-btn-bg:#4682fb;
--site-btn-highlight-bg:#286EFB;
--site-btn-font-color:#ededed;
--site-btn-font-highlight-color:#FFFFFF;
--site-btn-font-border-color:#f1f1f1;

--mobile-menu-bg:#18191a;
--mobile-menu-sidebar-bg:#727272;
--mobile-menu-font-color:#FFFFFF;
--mobile-menu-btn-bg:#286EFB;
--mobile-menu-btn-font-color:#FFFFFF;

}
