:root {
--body-bg:#FBFBFB;
--main-menu-bg:#FBFBFB;
--main-menu-font-color:#484848;
--main-menu-font-highlight-color:#286EFB;
--main-banner-bg:#FBFBFB;
--main-banner-height:500px;
--breadcrumb-image:url(http://dev.cf-saas.com/uploads/identities/site-breadcrumb-image.png);
--main-banner:url(http://dev.cf-saas.com/uploads/identities/site-banner.png);
}